<!DOCTYPE html>
<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
  <link rel="stylesheet" href="/css/load-cell.css">
  <link rel="stylesheet" href="/css/display.css">
</head>
<body ng-app="nebree8.display" ng-cloak>
  <div class="main-cont" layout="column" ng-controller="DisplayCtrl as ctrl">
    <div layout="row" layout-align="start center" flex="30">
      <div class="logo">
        <img src="/images/logo.png">
      </div>
      <div class="order-banner" flex>Order drinks at nebree8.com</div>
    </div>
    <div layout="row" flex>
      <div layout="column" flex="50">
        <div ng-if="ctrl.queue.length == 0 && !ctrl.finished_drink.drink_name && !ctrl.current_drink.drink_name" class="order-current sitting-around">
          Just sitting around...
        </div>
        <div ng-if="ctrl.finished_drink.drink_name" layout="column">
          <div class="order-finished">
            <div class="queue-banner">Ready:</div>
            <span class="drink_name">{{ctrl.finished_drink.drink_name}}</span>
            <span class="for">for</span>
            <span class="user_name">{{ctrl.finished_drink.user_name}}</span>
          </div>
        </div>
        <div ng-if="ctrl.current_drink.drink_name">
          <div class="order-current">
            <div class="queue-banner">Now making:</div>
            <span class="drink_name">{{ctrl.current_drink.drink_name}}</span>
            <span class="for">for</span>
            <span class="user_name">{{ctrl.current_drink.user_name}}</span>
          </div>
          <md-progress-linear
            ng-if="ctrl.current_drink.progress_percent < 100"
            md-mode="determinate"
            value="{{ctrl.current_drink.progress_percent}}">
          </md-progress-linear>
        </div>
        <div class="queue" layout="column">
          <div ng-if="ctrl.queue.length > 1" class="queue-banner" flex="35">
            Next up:</div>
          <div class="queue-list" flex>
            <div ng-if="$index > 0" ng-repeat="order in ctrl.queue"
                 layout="row">
        <div class="position-cont" layout="row"
             layout-align="center center" flex="10">
          <div class="position">{{$index}}</div>
        </div>
        <div class="queue-item" flex>
          {{order.drink_name}}
          <span class="for">for</span>
          {{order.user_name}}
        </div>
            </div>
          </div>
        </div>
      </div>
      <div flex="50" layout="column" layout-align="start center">
        <div>
          <h3 class="graph-header">Cocktail weight</h3>
          <div id="graph" class="aGraph"></div>
          <div class="stat">Avg: <span id="avg"></span></div>
          <div class="stat">Std dev: <span id="stddev"></span></div>
        </div>
        <div class="expl">
          * If you've ordered and don't see your name, talk to<br>
          a specialist to get your drink approved.
        </div>
      </div>
    </div>
  </div>
  
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

  <script src="/d3.v3.min.js" charset="utf-8"></script>
  <script src="/js/load-cell.js"></script>
  <script src="/js/display.js"></script>
</body>
</html>
